@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-wide .modal-box {
    width: 80vw; /* Ajuste conforme necessário */
    max-width: none;
  }
  
  .form-content {
    display: flex;
    flex-direction: column;
  }
  
  .form-content-wide {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .form-user,
  .form-vendor {
    flex: 1;
  }
  
  .form-user {
    margin-right: 2rem; /* Espaçamento entre os formulários */
  }
  
  .form-user input,
  .form-user label,
  .form-user .form-control {
    margin-bottom: 1rem; /* Espaçamento entre os campos */
  }
  
  h3 {
    font-size: 2rem; /* Tamanho da fonte grande */
    text-align: center; /* Centralizar o título */
  }
  